vendor/
*.DS_Store
web.config
*.old
public/wp-content/plugins/*
!public/wp-content/plugins/index.php
public/wp-content/uploads/*
!.gitkeep
/public/wp-content/backupwordpress*
/public/wp-content/wfcache*
scripts/snapshots/*
scripts/.config.*
!scripts/.config.env
/wp-config.*
!wp-config.php
error_log
desktop.ini
.sass-cache/
public/dev/
*_to_local.sh
public/wp-admin
public/wp-includes
public/wp-load.php
public/wp-login.php
public/wp-mail.php
public/wp-settings.php
public/wp-signup.php
public/xmlrpc.php
public/wp-blog-header.php
public/wp-comments-post.php
public/wp-config-sample.php
public/license.txt
public/readme.html
public/wp-activate.php
