/**
*
* 1.0 Admin Bar Fix
* -----------------------------------------------------------------------------
*/

@media only screen and (max-width: 782px)
{
    html
    {
        margin-top: 0px !important;
    }
    
    body.admin-bar
    {
        padding-top: 46px !important;
    }
}

/**
*
* 2.0 Header Styles
* -----------------------------------------------------------------------------
*/

@media only screen and (min-width:901px) and (max-width: 1074px)
{
    body
    {
        > header
        {
            .large-4
            {
                width: 33.33%;
            }
            
            .large-8
            {
                width: 66.66%;
            }
        }
    }    
}

@media only screen and (max-width: 900px)
{
    body
    {
        > header
        {
            > .row:first-child
            {
                > .columns
                {
                    height: auto;
                }
                
                > .columns:first-child
                {
                    line-height: 1;
                    
                    > a
                    {
                        line-height: 1;
                        padding: 30px;
                    }
                }
                
                > .columns:last-child
                {
                    text-align: center;
                    line-height: 1;
                    padding-bottom: 20px;
                    
                    > ul.inline-list
                    {
                        > li
                        {
                            margin-left: 40px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px)
{
    body
    {
        > header
        {
            > .row:first-child
            {
                > .columns:last-child
                {
                    > ul.inline-list
                    {
                        > li
                        {
                            width: 50%;
                            margin-left: 0px;
                            margin-right: 0px;
                            padding-left: 25px;
                            padding-right: 25px;
                        }
                        
                        > li:last-child
                        {
                            width: 100%;
                            text-align: center;
                            margin-top: 20px;
                            
                            > form
                            {
                                display: inline-block;
                                position: relative;
                                left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}    

/**
*
* 2.0 Image Slider Styles
* -----------------------------------------------------------------------------
*/

@media only screen and (max-width: 900px)
{
    section.image-slider
    {
        > ul
        {    
            > li
            {
                >a
                {
                    display: block;
                    width: 800px;
                    position: relative;
                    text-align: center;
                    left: 50%;
                    margin-left: -400px;

                    img
                    {
                        max-width: initial;
                        height: 250px;   
                    }
                }    
            }
        }
    }
}    



