/**
*
* 1.0 Global Styles
* -----------------------------------------------------------------------------
*/


html, body
{
    padding: 0px;
    margin: 0px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-size: 16px;    
    color: #414042;
    z-index: 0;
}

body
{
    div { border: 0px solid red; }

    img
    {
        border: 0px;
    }

    table
    {
        border-collapse: collapse;
    }

    form
    {
        padding: 0px;
        margin: 0px;

        input[type='text'], input[type='email']
        {
            font-size: 16px;
        }
    }

    th,td,tbody
    {
        padding: 0px;
        vertical-align: top;
    }
    
    h1, h2, h3, h4, h5, h6
    {
        font-family: Oswald, Helvetica, Arial, sans-serif;
    }
    
    h2
    {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    h3
    {
        font-size: 20px;
        font-weight: 700;
        color: #be955b;
    }

    a
    {
        /*color: #EC1E24;*/
    }

    a:hover
    {
        /*color: #78090c;*/
    }
    
    p
    {
        font-family: Keplet, "Times New Roman", serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
    }
    
    .upper
    {
        text-transform: uppercase;
    }   

    > section 
    {
        z-index: 1;
    }
    
    > footer 
    {
        z-index: 1;
    }
    
    .row
    {
        max-width: 1100px;
    }

    .fluidMedia
    {
        position: relative;
        padding-bottom: 54.25%;
        padding-top: 20px;
        height: 0;
        overflow: hidden;
        
        iframe
        {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%;
        }        
    }

}


/**
 * 2.0 Header Styles
 * -----------------------------------------------------------------------------
 */
 
body
{
    > header
    {
        z-index: 1;
        
        /* Header - Top Row */
        > .row:first-child
        {

            .columns
            {
                height: 125px;
            }

            .columns:first-child
            {
                a
                {
                    line-height: 100px;
                }

                img
                {
                    vertical-align: middle;
                }            
            }

            .columns:last-child
            {
                line-height: 125px;
                text-align: right;
            }

            ul.inline-list
            {
                display: inline-block;
                font-size: 14px;
                font-weight: 300;
                vertical-align: middle;

                li
                {
                    position: relative;
                    height: 25px;
                    line-height: 25px;
                    padding: 0px;
                    margin: auto;
                    margin-right: 50px;

                    i.fa
                    {
                        line-height: inherit;
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        color: #be955b;
                    }

                    i.fa.fa-search
                    {
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 5px;

                        + input
                        {
                            width: 160px;
                            margin: auto;
                            padding-left: 22px;
                            padding-right: 4px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            font-size: inherit;
                            height: auto;
                            border: 0px;
                            background-color: #f1f2f2;
                            box-shadow: none;
                            -web-kit-box-shadow: none;
                        }
                    }

                    a
                    {
                        display: inline;
                        color: inherit;
                        padding-left: 5px;
                    }

                }
            }
        }
    
        /* Header - Navigation */
    
        > section
        {
            background-image: url(../images/backgrounds/binding_dark.png);
            background-repeat: repeat-x;
            background-position: 0px 0px;
            height: 50px;
        
            > .row
            {
                position: relative;
            
                > .columns
                {
                    position: static;
                
                    > a
                    {
                        display: block;
                        line-height: 50px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        color: #ffffff;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }
                    
                    > nav
                    {
                        display: none;
                        position: absolute;
                        left: 0px;
                        top: 50px;
                        width: 100%;
                        height: auto;
                        min-height: 100px;
                        padding: 30px;
                        padding-bottom: 10px;
                        margin: auto;
                        background-color: #ffffff;
                        border: 1px solid red;
                        
                        h5
                        {
                            font-size: 14px;
                            font-weight: 400;
                            padding-bottom: 5px;
                            border-bottom: 2px solid #be955b;
                        }
                        
                        > ul.inline-list
                        {
                            > li
                            {
                                
                                > p
                                {
                                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 18px;
                                    max-width: 250px;
                                }
                                
                                ul
                                {
                                    > li
                                    {
                                        font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        padding: auto;
                                        padding-bottom: 10px;
                                        line-height: 16px;
                                        
                                        > a
                                        {
                                            color: inherit;
                                            text-decoration: none;
                                        }
                                        
                                        > a:hover
                                        {
                                            color: #be955b;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                
                                ul[class*="block-grid-"]
                                {
                                    width: 300px;
                                
                                    > li
                                    {
                                        padding-left: 0px;
                                    }
                                }
                            }
                        }
                        
                        > div:last-child
                        {
                            text-align: center;
                            
                            > .fa
                            {
                                color: #be955b;
                                font-size: 32px;
                                font-weight: 400;
                                cursor: pointer;
                            }
                        }
                        
                    }
                
                }
                
                > .columns:hover
                {
                    > nav
                    {
                        display: block;
                    }
                
                    > a
                    {
                        background-color: #be955b;
                    }
                }
                
            } 
        }

    
    }
}

/**
 * 3.0 Footer and Side Navigation Styles
 * -----------------------------------------------------------------------------
 */
 


/**
 * 4.0 Common Page Styles
 * -----------------------------------------------------------------------------
 */