/* -----------------------------------------------------------------------------
	# Buttons
----------------------------------------------------------------------------- */
.button {
  // border-radius: 25px;
  padding: 15px 25px;
  font-family: $Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  // letter-spacing: 0.07em;
  // background: $tertiary;
  // color: #fff;
  border: 1px solid $primary;
  background: $white;
  color: $primary !important;

	&:hover {
    // background: $secondary;
    background: $primary;
    color: $white !important;
    text-decoration: none;
	}
}

.button-second {
  display: inline-block;
  margin: 5px 0;
  // border-radius: 30px;
  border: 1px solid $quaternary;
  padding: 15px 25px;
  font-family: $Montserrat;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  // letter-spacing: 0.07em;
  background: #fff;
  color: $quaternary !important;

	&:hover {
    background: $quaternary;
    color: #fff !important;
    text-decoration: none;
	}
}

.button-white {
  display: inline-block;
  padding: 15px 25px;
  font-family: $Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  // letter-spacing: 0.07em;
  border: 1px solid $primary;
  background: $white;
  color: $primary !important;

	&:hover {
    background: $primary;
    color: $white !important;
    text-decoration: none;
	}
}

.button-gradient {
	@include linear-gradient(90deg, $secondary, $tertiary);
  // border-radius: 25px;
  padding: 7px 15px;

	&:hover {
    background: #fff;
    border: 1pt solid $tertiary;
    color: $secondary;
	}
}

.button-involved {
  display: inline-block;
}
