/* Colors */
$lightbrown: #be955b;
$darkbrown: #414042;

$primary: #1D2B3B;
$p-medium: #35414E;
$p-light: #55606A;
$secondary: #2ABFCC;
$tertiary: #41A4DF;
$quaternary: #8F9EBD;
$gray1: #414042;
$gray2: #414042;
$off-white: #E9ECF1;
$footer: #929497;
