/* -----------------------------------------------------------------------------
	# HR
----------------------------------------------------------------------------- */

hr {
  border: 1px solid $gray1;
  width: 60%;
  text-align:center;
  margin: 0px auto 50px auto;
}
