/*------------------------------------------------------------------------------*\

Custom header for SBC by matt adams @ factor1studios.com

\*------------------------------------------------------------------------------*/



@import url("../fonts/bebas.css");

/* Removed 6.21.14 
body {
background: #000 url(../images/header/background.jpg) no-repeat top center fixed;
}

body.home {
background: #000 url(../images/header/background.jpg) no-repeat top center fixed !important;
}

*/

/***** Wrapper *****/

#wrap, .wrap {
width:1050px;
background: #fff;
margin:0 auto;
}

.home .wrap {
background: none;
width:1030px;}



/***** Utility Classes *****/

.clear 			{ clear:both; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.float-left 	{ float:left; }
.float-right 	{ float:right; }


.img-left, .align-left 			{ float:left;margin:4px 10px 4px 0; }
.img-right, .align-right 		{ float:right;margin:4px 0 4px 10px; }


/*------------------------------------*\
    UI buttons
\*------------------------------------*/


.button {
	background: #00477a;
	display: inline-block;
	padding: 5px 10px;
	border-top: 1px solid #3d6684;
	margin: 5px 0;
	border-bottom: 1px solid #243a4b;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
	color: #fff;
	-webkit-transition:  .1s ease-in;
   -moz-transition:  .1s ease-in;
   -o-transition:  .1s ease-in;
   transition:  .1s ease-in;
}

.button:hover {
	background: #505a5e;
	border-top: 1px solid #a1a1a1;
	border-bottom: 1px solid #373737;
	text-decoration: none;
}



a.highlight {
	color: #0092c8 !important;
	text-decoration: underline !important;
}




/*------------------------------------*\
    HEADER
\*------------------------------------*/

header {
	background: #173753 url(../images/header/bg_header.jpg) top center no-repeat;
	position: relative;
	height: 240px;
	width: 100%;
	display: block;
	text-align: left;
}



.page-template-index_home-php header,
.home  header {height: 190px;}

header h1, 
header h1 a {
	display: block;
	margin: 0px;
	padding: 0;
	text-indent: -5000px;
	height: 31px;
	width: 270px;
}

header h1 {
	position: relative;
	top: 63px;
	left: 120px;
}

header h1 a {
	background: url(../images/header/logo_sbc.png) no-repeat;
}

header .fb-like {
	position: absolute;
	top: 75px;
	left: 320px;
	width: 85px;
	height: 50px;
	margin: 0;
	padding: 0;
	z-index: 99;
}


/*  Compelled by Grace capaign header override */

.page-id-19212 .wrap,
.parent-pageid-19212 .wrap {background: #f1f1f1;} 

.page-id-19212 header,
.parent-pageid-19212 header {
	background: url(../images/header/compelled_by_grace.jpg) 0 22px no-repeat;
	}

.page-id-19212 header img,
.parent-pageid-19212 header img {display:none;}

.page-id-19212 header h2 a,
.parent-pageid-19212 header h2 a {display: block; width: 300px; height: 100px;}


.page-id-19212 header nav,
.parent-pageid-19212 header nav {
	margin-top: 20px;}



/* ==========    Mini Bar Top Right ==========  */
.minibar {
	background: url(../images/header/bg_minibar.png) top no-repeat;
	height: 54px;
	width: 469px;
	position: absolute;
	top: 0px;
	right: 20px;
}

.minibar ul {
	color: #fff;
	margin: 18px 0 0 15px; 
	padding: 0;
}

.minibar li {
	display: inline-block;
	border-right:1px solid #fff;
	padding: 3px 8px;
	font-size: 12px;
	position: relative;
}

.minibar li a,
.minibar li a:visited {
	color: #fff;
}

.minibar li:last-child {border: none;}

/* Mini bar hover actions */

.mini_drop {
	display: none;
	background: url(../images/header/bg_minibar_drop.png) top center;
	}
	
	.mini_drop .divider {
		width: 90%;
		height: 2px;
		background: #000;
		display: block;
		margin: 8px auto;
		border-bottom: 2px solid #8c8c8c;
	}

/* campus drop down */
.minibar li a.campus:hover + .drop_campus,
.drop_campus:hover {
	display: block;
	width: 430px;
	height: 250px;
	position: absolute;
	margin: 10px 0 0;
	padding: 40px 10px 10px;
	top: 7px;
	left: -160px;
	z-index: 999;
	text-align: center;
}

.drop_campus p {
	font-size: 28px;
	color: #fff;
	font-family: 'BebasNeueRegular', Arial, sans-serif !important;
}

.drop_campus a {
	width: 140px;
	height: 150px;
	display: inline-block;
}

.drop_campus a.campus1 {background: url(../images/header/campus_sprite.png) top left;}
.drop_campus a.campus1:hover {background: url(../images/header/campus_sprite.png) bottom left;}

.drop_campus a.campus2 {background: url(../images/header/campus_sprite.png) center top;}
.drop_campus a.campus2:hover {background: url(../images/header/campus_sprite.png) center bottom;}

.drop_campus a.campus3 {background: url(../images/header/campus_sprite.png) top right;}
.drop_campus a.campus3:hover {background: url(../images/header/campus_sprite.png) bottom right;}


/* subscribe drop down */
.minibar li a.subscribe:hover + .drop_subscribe,
.drop_subscribe:hover {
	display: block;
	width: 200px;
	height: 270px;
	position: absolute;
	margin: 10px 0 0;
	padding: 40px 10px 10px;
	top: 7px;
	left: -50px;
	z-index: 999;
}

.drop_subscribe li {
	display: block;
	width: 140px;
	padding-left: 20px;
	font-size: 15px;
	border-right: none;
	border-bottom: 1px solid #eee;
	background: url(../images/header/social_sprites.png) no-repeat left;
}

.drop_subscribe li.fb {background-position-y: 5px;}
.drop_subscribe li.tw {background-position-y: -25px;}
.drop_subscribe li.news {background-position-y: -55px;}
.drop_subscribe li.rss {background-position-y: -87px;}
.drop_subscribe li.pcast {background-position-y: -120px;}
.drop_subscribe li.flickr {background-position-y: -152px;}
.drop_subscribe li.vimeo {background-position-y: -185px;}




	.drop_subscribe li a {
		padding: 5px 10px;
		display: block;
	}
	
	.drop_subscribe li a:hover {
		text-decoration: none;
		background: #222;
	}
	

/* contact drop down */
.minibar li a.contact:hover + .drop_contact,
.drop_contact:hover {
	display: block;
	width: 200px;
	height: 150px;
	position: absolute;
	margin: 10px 0 0;
	padding: 40px 10px 10px;
	top: 7px;
	left: -80px;
	z-index: 999;
}

.drop_contact {
	text-align: center;
	font-weight: bold;
	font-size: 14px;}

.drop_contact p {margin-bottom: 14px;}
.drop_contact .highlight {color: #0092c8 !important; 	text-decoration: underline !important;}



/* ======== Header Search ======== */

.search_activate a {
	height: 23px;
	width: 60px;
	display: block;
	background: url(../images/header/btn_search.png);
	text-indent: -5000px;
	position: absolute;
	right: 48px;
	top: 16px;
}


.search_box {display: none;}

.search_activate a:active + .search_box,
.search_box:hover {
	display: block;
	background: url(../images/header/bg_searchbox.png) no-repeat top;
	height:  88px;
	width: 470px;
	position: absolute;
	top: 0px;}


.search_box #searchform {
	margin: 15px 0 0 20px;
}

.query {
	padding: 10px;
	font-size: 18px;
	margin-right: 10px;
	width: 320px;
	color: #333;
	font-family: georgia, times, serif;
	font-style: italic;
	background: none;
	border: none 0;
	box-shadow: none;}
	
.btn_search, .btn_search:visited {
	background: #003b73;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
	border: #004f98 1px solid;
	font-size: 13px;
	background: -moz-linear-gradient(top, #003b73 0%, #00224f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003b73), color-stop(100%,#00224f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #003b73 0%,#00224f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #003b73 0%,#00224f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #003b73 0%,#00224f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #003b73 0%,#00224f 100%);
	-webkit-transition:  .1s ease-in;
	-moz-transition:  .1s ease-in;
	-o-transition:  .1s ease-in;
	transition:  .1s ease-in;
}

.btn_search:hover {
	color: #000;
	background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eee 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eee 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eee 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eee 0%,#ccc 100%);
	border: #ccc 1px solid;
	text-decoration: none;
}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

header nav {
	background: url(../images/header/bg_navbar.png) repeat-x;
	height: 72px;
	width: 100%;
	position: absolute;
	top: 134px;
	font-family: 'BebasNeueRegular', Arial, sans-serif ;
}

header nav ul {margin: 0; padding: 0;}

header nav ul ul,
header nav ul ul ul,
header nav ul ul ul ul  {display: none;}


header nav li {
	display: inline-block;
	font-size: 28px;
	margin: 20px 0px;
	padding: 0;
	background: url(../images/header/nav_divider.png) no-repeat right;
	text-transform: uppercase;
	position: relative;
}

header nav li:first-child {margin-left: 0px;}
header nav li:last-child {margin-right: 0px; background: none;}

header nav li a,
header nav li a:visited {
	padding: 20px 26px;
	color: #1d407a;
	-webkit-transition: color .2s ease-in;
   -moz-transition: color .2s ease-in;
   -o-transition: color .2s ease-in;
   transition: color .2s ease-in;
}

header nav li a:hover,
header nav li.current a {
	background: url(../images/header/bg_nav_hover.png) repeat-x;
	color: #fff;
	text-decoration: none;
}

header nav li:hover ul {
	display: block;
	position: absolute;
	top: 40px;
	left: 0px;
	width: 200px;
	padding: 0px;
	background: #333 url(../images/header/bg_nav_drop.jpg) no-repeat top center;
	border-bottom: 2px solid #000;
	z-index: 9999;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
}

header nav li:hover ul ul {display: none}


header nav ul ul li {
	display: block;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-transform: capitalize;
	position: relative;
	background: none;
	border-top: 1px #565656 solid;
	border-bottom: 1px #333 solid;
}

header nav ul ul li a,
header nav ul ul li a:hover {
	color: #fff !important;
	padding: 10px 10px;
	width: 180px;
	display: block;}

header nav ul ul li a:hover {background: #222;}


/*tier 3 */
header nav ul ul li:hover ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 200px;
	width: 200px;
	padding: 0px;
	background: #333 url(../images/header/bg_nav_drop.jpg) no-repeat top center;
	border-bottom: 2px solid #000;
	z-index: 9999;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
}

header nav li:hover ul ul ul {display: none}

/* tier 4 */
header nav ul ul ul li:hover ul {
	display: block;
	position: absolute;
	top: 0px;
	left: 200px;
	width: 200px;
	padding: 0px;
	background: #333 url(../images/header/bg_nav_drop.jpg) no-repeat top center;
	border-bottom: 2px solid #000;
	z-index: 9999;
	-webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .5);
}




/* Bread Crumbs */

.breadcrumbs {
	background: url(../images/header/bg_breadcrumbs.jpg) repeat-x top;
	height: 38px;
	padding: 8px 0;
	width: 100%;
	color: #fff;
	position: absolute;
	top: 202px;
	z-index: 5;
}

.page-template-index_home-php .breadcrumbs,
.home .breadcrumbs {display: none;}

.breadcrumbs #crumbs {padding: 0 15px;}

.breadcrumbs a,
.breadcrumbs a:visited,
.breadcrumbs .current {
	color: #fff !important; 
	text-decoration: none;
	text-transform: capitalize;
	font-size: 12px;
	font-family: "myraid web pro", "myraid pro", helvetica, arial, sans-serif;
	}
	
	.breadcrumbs li a:hover {text-decoration: underline;}



.notfound {
	margin: 50px 0;
	text-align: center;
	width: 100%;
}

.footerwrap {
	width: 1050px;
	margin: 0 auto;
	background: no-repeat;
	text-align: left;
}
