


.mainheader .menu-header {
	background: #fff; 
	height:80px;
	z-index: 999;}
	
.mainheader .menu-header ul {
	background: #fff; 
	margin: 0;
	padding: 0;
	height: 80px;}

.mainheader .menu-header ul ul {height: auto; background: #262626}

.mainheader .menu-header li {
	background: none;
	list-style: none;
	display: inline-block;
	border-right: 1px solid #eee;}
	
	.mainheader .menu-header li li {border-right: 0px;}
	
	.mainheader .menu-header li:last-child{border-right:0px;}

.mainheader .menu-header li a,
.mainheader .menu-header li a:visited {
	color: #00516d;
}

.mainheader .menu-header li a:hover {
	color: #fff;
	background: #00516d; /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00516d', endColorstr='#003d54',GradientType=0 ); /* IE6-9 */
}


.mainheader .menu-header .sub-menu li {min-width: 200px;}



.columns {float: left;}