/**
*
* 1.0 Global Styles
* -----------------------------------------------------------------------------
*/
/* line 9, scss/theme.scss */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #414042;
  z-index: 0;
}

/* line 22, scss/theme.scss */
body img {
  border: 0px;
}
/* line 27, scss/theme.scss */
body table {
  border-collapse: collapse;
}
/* line 32, scss/theme.scss */
body form {
  padding: 0px;
  margin: 0px;
}
/* line 37, scss/theme.scss */
body form input {
  color: #414042;
}
/* line 42, scss/theme.scss */
body form input[type='text'], body form input[type='email'] {
  font-size: 16px;
}
/* line 48, scss/theme.scss */
body th, body td, body tbody {
  padding: 0px;
  vertical-align: top;
}
/* line 54, scss/theme.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  color: #414042;
}
/* line 60, scss/theme.scss */
body h1 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 67, scss/theme.scss */
body h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 74, scss/theme.scss */
body h3 {
  font-size: 20px;
  font-weight: 700;
  color: #be955b;
}
/* line 81, scss/theme.scss */
body a {
  text-decoration: none;
  color: #414042;
}
/* line 87, scss/theme.scss */
body a:hover {
  color: #be955b;
  text-decoration: underline;
}
/* line 93, scss/theme.scss */
body strong {
  font-family: Kepler, "Times New Roman", serif;
  font-weight: 800;
}
/* line 99, scss/theme.scss */
body p {
  font-family: Kepler, "Times New Roman", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}
/* line 106, scss/theme.scss */
body p a {
  color: #be955b;
  text-decoration: underline;
}
/* line 113, scss/theme.scss */
body ul {
  list-style: disc;
}
/* line 118, scss/theme.scss */
body .button {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #be955b;
  border-radius: 20px;
  line-height: 1;
  text-decoration: none;
}
/* line 136, scss/theme.scss */
body .button:hover {
  background-color: #414042;
  color: #be955b;
  text-decoration: none;
}
/* line 143, scss/theme.scss */
body .button.dark-brown {
  background-color: #414042;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  color: #ffffff;
}
/* line 151, scss/theme.scss */
body .button.dark-brown > span {
  font-weight: 700;
  color: #be955b;
}
/* line 158, scss/theme.scss */
body .button.dark-brown:hover {
  background-color: #be955b;
}
/* line 162, scss/theme.scss */
body .button.dark-brown:hover > span {
  color: #414042;
}
/* line 168, scss/theme.scss */
body .bar {
  display: block;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  background-color: #414042;
  color: #ffffff;
  padding-left: 40px;
  text-decoration: none;
}
/* line 180, scss/theme.scss */
body .bar > .fa {
  margin-left: 10px;
  line-height: inherit;
  color: #be955b;
}
/* line 190, scss/theme.scss */
body .bar-toggle > div:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #414042;
}
/* line 200, scss/theme.scss */
body .bar:hover {
  text-decoration: none;
}
/* line 205, scss/theme.scss */
body .upper {
  text-transform: uppercase;
}
/* line 210, scss/theme.scss */
body > section {
  z-index: 1;
}
/* line 215, scss/theme.scss */
body > footer {
  z-index: 1;
}
/* line 220, scss/theme.scss */
body .row {
  max-width: 1100px;
}
/* line 225, scss/theme.scss */
body .fluidMedia {
  position: relative;
  padding-bottom: 54.25%;
  padding-top: 20px;
  height: 0;
  overflow: hidden;
}
/* line 233, scss/theme.scss */
body .fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 243, scss/theme.scss */
body .fa-news-and-stories {
  display: inline-block;
  height: 38px;
  width: 38px;
  background-image: url(../images/icons/icon-news-and-stories.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 254, scss/theme.scss */
body .fa-thin-chevron-right {
  display: inline-block;
  height: 30px;
  width: 22px;
  background-image: url(../images/icons/icon-thin-chevron-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 265, scss/theme.scss */
body span.stButton {
  box-sizing: content-box;
}
/* line 269, scss/theme.scss */
body span.stButton span {
  box-sizing: content-box;
}
/* line 275, scss/theme.scss */
body img.alignleft {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 283, scss/theme.scss */
body img.alignright {
  display: block;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* line 291, scss/theme.scss */
body .image-block-center {
  display: block;
  position: relative;
  height: 100%;
  left: 50%;
  overflow: visible;
  text-align: left;
}
/* line 300, scss/theme.scss */
body .image-block-center > img {
  position: relative;
  min-width: 100%;
  max-width: initial;
  height: 100%;
  margin-left: 0;
}

/**
 * 2.0 Header Styles
 * -----------------------------------------------------------------------------
 */
/* line 320, scss/theme.scss */
body > header {
  z-index: 1;
  /* Header - Top Row */
  /* Header - Navigation */
}
/* line 328, scss/theme.scss */
body > header > .row:first-child > .columns {
  height: 125px;
}
/* line 333, scss/theme.scss */
body > header > .row:first-child > .columns:first-child {
  text-align: center;
}
/* line 337, scss/theme.scss */
body > header > .row:first-child > .columns:first-child > a {
  display: inline-block;
  line-height: 100px;
}
/* line 343, scss/theme.scss */
body > header > .row:first-child > .columns:first-child img {
  vertical-align: middle;
}
/* line 349, scss/theme.scss */
body > header > .row:first-child > .columns:last-child {
  line-height: 125px;
  text-align: right;
}
/* line 355, scss/theme.scss */
body > header > .row:first-child ul.inline-list {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  vertical-align: middle;
  overflow: visible;
}
/* line 363, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li {
  position: relative;
  height: 25px;
  line-height: 25px;
  padding: 0px;
  margin: auto;
  margin-right: 50px;
  overflow: visible;
}
/* line 373, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa {
  line-height: inherit;
  display: inline-block;
  position: relative;
  top: -1px;
  color: #be955b;
}
/* line 382, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa.fa-search {
  display: block;
  position: absolute;
  top: 0px;
  left: 5px;
}
/* line 389, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa.fa-search + input {
  width: 160px;
  margin: auto;
  padding-left: 22px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: inherit;
  height: auto;
  border: 0px;
  background-color: #f1f2f2;
  box-shadow: none;
  -web-kit-box-shadow: none;
}
/* line 406, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li a {
  display: inline;
  color: inherit;
  padding-left: 5px;
  text-decoration: none;
}
/* line 414, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li a:hover {
  color: #be955b;
}
/* line 419, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul {
  display: none;
  position: absolute;
  top: 22px;
  left: 50%;
  width: 340px;
  margin-left: -170px;
  z-index: 9999;
}
/* line 429, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li {
  display: block;
  background-color: #414042;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
/* line 439, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 448, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a > span {
  font-weight: 700;
}
/* line 454, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a:hover {
  color: #be955b;
}
/* line 460, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li:first-child {
  margin-top: 10px;
  padding-top: 26px;
}
/* line 466, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li:last-child {
  padding-bottom: 26px;
}
/* line 477, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li:hover > ul {
  display: block;
}
/* line 487, scss/theme.scss */
body > header > section {
  background-image: url(../images/backgrounds/binding_dark.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  height: 50px;
}
/* line 494, scss/theme.scss */
body > header > section > .row {
  position: relative;
}
/* line 498, scss/theme.scss */
body > header > section > .row > .columns {
  position: static;
}
/* line 502, scss/theme.scss */
body > header > section > .row > .columns > a {
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 515, scss/theme.scss */
body > header > section > .row > .columns > nav {
  display: none;
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 30px;
  padding-bottom: 10px;
  margin: auto;
  background-color: #ffffff;
}
/* line 529, scss/theme.scss */
body > header > section > .row > .columns > nav h5 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2px solid #be955b;
}
/* line 539, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li {
  min-height: 200px;
}
/* line 543, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li > p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 250px;
}
/* line 552, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul {
  margin-top: 5px;
}
/* line 556, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: auto;
  padding-bottom: 10px;
  line-height: 16px;
}
/* line 565, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li > a {
  color: inherit;
  text-decoration: none;
}
/* line 571, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li > a:hover {
  color: #be955b;
  text-decoration: underline;
}
/* line 579, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul[class*="block-grid-"] {
  width: 300px;
}
/* line 583, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul[class*="block-grid-"] > li {
  padding-left: 0px;
}
/* line 591, scss/theme.scss */
body > header > section > .row > .columns > nav > div:last-child {
  text-align: center;
}
/* line 595, scss/theme.scss */
body > header > section > .row > .columns > nav > div:last-child > .fa {
  color: #be955b;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
}
/* line 610, scss/theme.scss */
body > header > section > .row > .columns:hover > nav {
  display: block;
  z-index: 9999;
}
/* line 616, scss/theme.scss */
body > header > section > .row > .columns:hover > a {
  background-color: #be955b;
}

/**
 * 3.0 Footer Styles
 * -----------------------------------------------------------------------------
 */
/* line 636, scss/theme.scss */
body > footer {
  background-image: url(../images/backgrounds/dust.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  color: #ffffff;
}
/* line 643, scss/theme.scss */
body > footer > .row:first-child {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #3b3b3c;
}
/* line 649, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) {
  text-align: center;
  line-height: 28px;
}
/* line 654, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) > div:first-child {
  padding-bottom: 6px;
}
/* line 659, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) .button:hover {
  background-color: #ffffff;
}
/* line 665, scss/theme.scss */
body > footer > .row:first-child a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
}
/* line 673, scss/theme.scss */
body > footer > .row:first-child a > .fa {
  line-height: inherit;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 5px;
}
/* line 683, scss/theme.scss */
body > footer > .row:first-child a:hover {
  color: #be955b;
}
/* line 688, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child {
  text-align: right;
}
/* line 694, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child > div:last-child a {
  margin-left: 15px;
}
/* line 698, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child > div:last-child a .fa {
  font-size: 24px;
}
/* line 707, scss/theme.scss */
body > footer > .row:nth-child(2) {
  padding-top: 30px;
}
/* line 711, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns {
  text-align: center;
}
/* line 715, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] {
  display: inline-block;
  text-align: left;
}
/* line 720, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li {
  width: 140px;
}
/* line 724, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid #6d6e71;
  padding-bottom: 4px;
}
/* line 732, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > h4 > a {
  color: #ffffff;
}
/* line 740, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li {
  line-height: 1.1;
  padding-bottom: 8px;
}
/* line 745, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6d6e71;
}
/* line 753, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li > a:hover {
  color: #be955b;
}
/* line 764, scss/theme.scss */
body > footer > section {
  background-color: #414042;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #939598;
  line-height: 35px;
}
/* line 774, scss/theme.scss */
body > footer > section > span {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 780, scss/theme.scss */
body > footer > section > span:first-child {
  border-right: 1px solid #939598;
}

/**
*
* 4.0 Component - Subscribe to News
* -----------------------------------------------------------------------------
*/
/* line 795, scss/theme.scss */
section.subscribe-to-news {
  background-color: #414042;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 801, scss/theme.scss */
section.subscribe-to-news > h1 {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}
/* line 808, scss/theme.scss */
section.subscribe-to-news > h1 > .fa {
  margin-right: 20px;
  color: #be955b;
}
/* line 814, scss/theme.scss */
section.subscribe-to-news > h1 > span {
  font-weight: 300;
}
/* line 822, scss/theme.scss */
section.subscribe-to-news > form input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  color: #414042;
}
/* line 831, scss/theme.scss */
section.subscribe-to-news > form input.button {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* line 840, scss/theme.scss */
section.subscribe-to-news > form .button:hover {
  color: #be955b;
  background-color: #ffffff;
}

/**
*
* 5.0 Component - Image Slider
* -----------------------------------------------------------------------------
*/
/* line 855, scss/theme.scss */
section.image-slider {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
/* line 861, scss/theme.scss */
section.image-slider > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 867, scss/theme.scss */
section.image-slider > ul > li {
  display: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}
/* line 876, scss/theme.scss */
section.image-slider > ul > li:first-child {
  display: block;
}
/* line 882, scss/theme.scss */
section.image-slider > .controls-move {
  position: absolute;
  width: 18px;
  left: auto;
  right: 16%;
  top: 50%;
  bottom: auto;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-top: -80px;
}
/* line 895, scss/theme.scss */
section.image-slider > .controls-move > .fa {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0px 0px 0px #777777;
}
/* line 904, scss/theme.scss */
section.image-slider > .controls-move > .fa.active:before, section.image-slider > .controls-move > .fa:hover:before {
  content: "\f111";
}

/**
*
* 6.0 Component - Select Your Campus
* -----------------------------------------------------------------------------
*/
/* line 918, scss/theme.scss */
section.select-campus {
  background-image: url(../images/backgrounds/dark_wood.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  height: 120px;
  overflow: visible;
}
/* line 926, scss/theme.scss */
section.select-campus > .row {
  position: absolute;
  width: 100%;
  max-width: 100%;
  text-align: center;
  z-index: 2000;
}
/* line 934, scss/theme.scss */
section.select-campus > .row > ul {
  display: inline-block;
  margin-top: 42px;
}
/* line 939, scss/theme.scss */
section.select-campus > .row > ul > li:first-child {
  display: block;
  padding-bottom: 6px;
}
/* line 944, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 954, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 > span {
  color: #be955b;
  font-weight: 700;
}
/* line 960, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 > .fa {
  margin-left: 10px;
  font-size: 20px;
  height: 32px;
  line-height: 24px;
  vertical-align: middle;
}
/* line 971, scss/theme.scss */
section.select-campus > .row > ul > li + li {
  background-color: #414042;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 80px;
  padding-left: 80px;
  display: none;
}
/* line 980, scss/theme.scss */
section.select-campus > .row > ul > li + li > a {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}
/* line 988, scss/theme.scss */
section.select-campus > .row > ul > li + li > a > span {
  font-weight: 700;
}
/* line 994, scss/theme.scss */
section.select-campus > .row > ul > li + li > a:hover {
  color: #be955b;
}
/* line 1000, scss/theme.scss */
section.select-campus > .row > ul > li:nth-child(2) {
  padding-top: 26px;
}
/* line 1005, scss/theme.scss */
section.select-campus > .row > ul > li:last-child {
  padding-bottom: 26px;
}
/* line 1013, scss/theme.scss */
section.select-campus > .row > ul:hover > li + li {
  display: block;
}

/**
*
* 7.0 Component - News and Stories
* -----------------------------------------------------------------------------
*/
/* line 1027, scss/theme.scss */
section.news-and-stories {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 1032, scss/theme.scss */
section.news-and-stories > h1 {
  font-weight: 700;
  text-align: center;
}
/* line 1037, scss/theme.scss */
section.news-and-stories > h1 > .fa {
  margin-right: 20px;
}
/* line 1042, scss/theme.scss */
section.news-and-stories > h1 > span {
  font-weight: 300;
}
/* line 1052, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li {
  padding: 15px;
}
/* line 1056, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div {
  max-width: 340px;
  margin: auto;
}
/* line 1061, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:first-child {
  text-align: center;
  max-height: 230px;
  overflow: hidden;
}
/* line 1067, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:first-child img {
  width: 100%;
  min-width: 100%;
}
/* line 1074, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child {
  border-top: 5px solid #be955b;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1084, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > h3 > a {
  color: inherit;
  text-decoration: none;
}
/* line 1091, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > a {
  display: block;
  float: right;
  position: relative;
  top: -20px;
}
/* line 1098, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > a > .fa {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 300;
  color: #be955b;
}
/* line 1107, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > p {
  font-size: 13px;
  line-height: 1.3;
}
/* line 1113, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > p:last-of-type {
  margin-bottom: 4px;
}
/* line 1120, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div:hover {
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}
/* line 1126, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div:hover > div:last-child > h3 {
  color: #414042;
}
/* line 1136, scss/theme.scss */
section.news-and-stories > .row:last-child {
  text-align: center;
  margin-top: 30px;
}
/* line 1141, scss/theme.scss */
section.news-and-stories > .row:last-child > .navigation {
  text-align: left;
}

/**
*
* 8.0 Component - Upcoming Events
* -----------------------------------------------------------------------------
*/
/* line 1155, scss/theme.scss */
section.upcoming-events {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1163, scss/theme.scss */
section.upcoming-events > h1 {
  text-align: center;
  font-weight: 700;
  margin: auto;
  padding: auto;
}
/* line 1170, scss/theme.scss */
section.upcoming-events > h1 > .fa {
  position: relative;
  top: -8px;
  margin-right: 18px;
  font-size: 38px;
  color: #be955b;
}
/* line 1179, scss/theme.scss */
section.upcoming-events > h1 > span {
  font-weight: 300;
}
/* line 1185, scss/theme.scss */
section.upcoming-events > .row:first-of-type {
  margin-top: 30px;
}
/* line 1191, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li {
  padding: 15px;
}
/* line 1195, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row {
  margin: 0px;
  padding: 10px;
  border-top: 3px solid #414042;
  background-color: #ffffff;
}
/* line 1202, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div {
  padding: 10px;
}
/* line 1207, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:first-child {
  text-align: center;
  overflow: hidden;
}
/* line 1212, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:first-child > a {
  height: 150px;
}
/* line 1218, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child {
  text-align: left;
}
/* line 1222, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h3 {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}
/* line 1228, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h3 > a {
  color: #be955b;
}
/* line 1234, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h5 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}
/* line 1241, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div {
  font-family: Kepler, "Times New Roman", serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  padding-top: 10px;
}
/* line 1249, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
/* line 1256, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div p:last-of-type {
  margin-bottom: 4px;
}
/* line 1261, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div a {
  font-weight: 700;
  font-style: italic;
  color: #be955b;
  text-decoration: underline;
}
/* line 1269, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div a:hover {
  color: #414042;
}
/* line 1277, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row:hover {
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}
/* line 1285, scss/theme.scss */
section.upcoming-events > .row:last-child {
  text-align: center;
  margin-top: 30px;
}

/**
*
* 9.0 Component - Last Weekend and Upcoming Message
* -----------------------------------------------------------------------------
*/
/* line 1299, scss/theme.scss */
section.last-and-upcoming-message {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1312, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div {
  display: inline-block;
  text-align: left;
}
/* line 1317, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) {
  border-top: 5px solid #be955b;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 25px;
}
/* line 1325, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 3px;
}
/* line 1332, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 > span {
  font-weight: 700;
}
/* line 1337, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 > .fa {
  position: absolute;
  left: -25px;
  top: 3px;
}
/* line 1345, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h5 {
  font-size: 14px;
  font-weight: 300;
}
/* line 1354, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child {
  text-align: right;
}
/* line 1358, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div {
  max-width: 608px;
  padding: 0px;
  margin: 0px;
}
/* line 1364, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:first-child {
  text-align: center;
  max-height: 340px;
  overflow: hidden;
}
/* line 1370, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:first-child img {
  min-width: 100%;
}
/* line 1376, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child {
  background-color: #414042;
}
/* line 1380, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child > h3 {
  color: #ffffff;
}
/* line 1385, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child > h5 {
  color: #ffffff;
}
/* line 1390, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child .fa {
  color: #be955b;
}
/* line 1398, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child {
  text-align: left;
}
/* line 1402, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div {
  background-color: #ffffff;
  max-width: 410px;
  padding: 0px;
  margin: 0px;
}
/* line 1409, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:first-child {
  text-align: center;
  max-height: 250px;
  overflow: hidden;
}
/* line 1415, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:first-child img {
  min-height: 250px;
  min-width: 100%;
}
/* line 1424, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:nth-child(2) > h3 {
  color: #414042;
}
/* line 1429, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:nth-child(2) > h5 {
  color: #414042;
}
/* line 1435, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1441, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child a {
  font-size: 30px;
  color: #be955b;
  padding-right: 30px;
}
/* line 1448, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child a:hover {
  color: #414042;
}

/**
*
* 10.0 Component - Featured Images and Videos
* -----------------------------------------------------------------------------
*/
/* line 1466, scss/theme.scss */
section.featured-image {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1474, scss/theme.scss */
section.featured-image > .row > .columns {
  padding: 0px;
}
/* line 1478, scss/theme.scss */
section.featured-image > .row > .columns img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 1495, scss/theme.scss */
section.featured-video > .row > .columns iframe {
  width: 100%;
}

/**
*
* 10.0 Page Template
* -----------------------------------------------------------------------------
*/
/* line 1512, scss/theme.scss */
section.page-content > .row {
  border-top: 6px solid #be955b;
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 1518, scss/theme.scss */
section.page-content > .row > div.sidebar {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 1523, scss/theme.scss */
section.page-content > .row > div.sidebar > h3 {
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
  padding-bottom: 10px;
  color: #414042;
  line-height: 1;
  border-bottom: 2px solid #be955b;
  text-transform: uppercase;
}
/* line 1535, scss/theme.scss */
section.page-content > .row > div.sidebar > ul {
  margin-bottom: 60px;
}
/* line 1539, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
}
/* line 1549, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li a {
  text-decoration: none;
}
/* line 1561, scss/theme.scss */
section.page-content > .row > div > section.article h1, section.page-content > .row > div > section.article h2, section.page-content > .row > div > section.article h3 {
  font-size: initial;
  font-weight: initial;
  text-transform: initial;
}
/* line 1568, scss/theme.scss */
section.page-content > .row > div > section.article > h1 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px solid #be955b;
}
/* line 1579, scss/theme.scss */
section.page-content > .row > div > section.article > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1591, scss/theme.scss */
section.page-content > .row > div > section.article > div:first-of-type > ul > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #414042;
  margin-right: 30px;
  line-height: 18px;
}
/* line 1600, scss/theme.scss */
section.page-content > .row > div > section.article > div:first-of-type > ul > li > a > .fa {
  font-size: 18px;
  color: #be955b;
  margin-right: 5px;
}
/* line 1613, scss/theme.scss */
section.page-content > .row > div.small-12 {
  padding-left: 10%;
  padding-right: 10%;
}

/**
*
* 11.0 - Component - Group Search Form
* -----------------------------------------------------------------------------
*/
/* line 1628, scss/theme.scss */
section.group-search-form {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
}
/* line 1637, scss/theme.scss */
section.group-search-form > form > .row {
  padding-left: 40px;
}
/* line 1643, scss/theme.scss */
section.group-search-form > form > .row > div.columns > select {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  border: 2px solid #be955b;
}
/* line 1654, scss/theme.scss */
section.group-search-form > form > .row > div.columns > select > option {
  font-size: inherit;
  font-weight: inherit;
}
/* line 1661, scss/theme.scss */
section.group-search-form > form > .row > div.columns > div {
  line-height: 1;
  padding-bottom: 6px;
}
/* line 1666, scss/theme.scss */
section.group-search-form > form > .row > div.columns > div > .fa {
  color: #be955b;
  position: relative;
  top: -1px;
}
/* line 1675, scss/theme.scss */
section.group-search-form > form > .row > .columns:nth-child(5) {
  width: auto;
}
/* line 1680, scss/theme.scss */
section.group-search-form > form > .row > .columns:last-child {
  float: left;
}
/* line 1684, scss/theme.scss */
section.group-search-form > form > .row > .columns:last-child > .button {
  padding-left: 50px;
  padding-right: 50px;
}

/**
*
* 12.0 Component - Welcome to Campus
* -----------------------------------------------------------------------------
*/
/* line 1700, scss/theme.scss */
section.welcome-to-campus {
  background-image: url(../images/backgrounds/dark_wood.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1708, scss/theme.scss */
section.welcome-to-campus > .row > .columns {
  line-height: 120px;
  text-align: center;
}
/* line 1713, scss/theme.scss */
section.welcome-to-campus > .row > .columns > h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1726, scss/theme.scss */
section.welcome-to-campus > .row > .columns > h2 > span {
  font-weight: 700;
  color: #be955b;
}

/**
*
* 12.0 Component - Not Found
* -----------------------------------------------------------------------------
*/
/* line 1742, scss/theme.scss */
section.not-found {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  padding: 100px;
}
/* line 1749, scss/theme.scss */
section.not-found > .row {
  background-color: #ffffff;
  padding: 40px;
}
/* line 1754, scss/theme.scss */
section.not-found > .row > h2 {
  border-bottom: 2px solid #be955b;
}

/**
*
* 13.0 Section - Archive Posts
* -----------------------------------------------------------------------------
*/
/* line 1767, scss/theme.scss */
section.posts-archive {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1777, scss/theme.scss */
section.posts-archive > .row {
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 1785, scss/theme.scss */
section.posts-archive > .row > h2 {
  border-bottom: 2px solid #be955b;
  margin-bottom: 4px;
}
/* line 1790, scss/theme.scss */
section.posts-archive > .row > h2 > a {
  color: #be955b;
}
/* line 1796, scss/theme.scss */
section.posts-archive > .row h3 {
  margin-bottom: 3px;
}
/* line 1801, scss/theme.scss */
section.posts-archive > .row .meta {
  font-family: Kepler, "Times New Roman", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

/**
*
* 14.0 Section - Archive Posts
* -----------------------------------------------------------------------------
*/
/* line 1824, scss/theme.scss */
section.search-results > .row > .columns > p.no-break {
  display: none;
  /* Hide Social Media Links */
}
