/**
*
* Stylesheet Variables
* -----------------------------------------------------------------------------
*/
/* Fonts */
/* Colors */
/**
*
* 1.0 Global Styles
* -----------------------------------------------------------------------------
*/
/* line 23, scss/theme.scss */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #414042;
  z-index: 0;
}

/* line 36, scss/theme.scss */
body img {
  border: 0px;
}
/* line 41, scss/theme.scss */
body table {
  border-collapse: collapse;
}
/* line 46, scss/theme.scss */
body form {
  padding: 0px;
  margin: 0px;
}
/* line 51, scss/theme.scss */
body form input {
  color: #414042;
}
/* line 56, scss/theme.scss */
body form input[type='text'], body form input[type='email'] {
  font-size: 16px;
}
/* line 62, scss/theme.scss */
body th, body td, body tbody {
  padding: 0px;
  vertical-align: top;
}
/* line 68, scss/theme.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  color: #414042;
}
/* line 74, scss/theme.scss */
body h1 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 81, scss/theme.scss */
body h2 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 88, scss/theme.scss */
body h3 {
  font-size: 20px;
  font-weight: 700;
  color: #be955b;
}
/* line 95, scss/theme.scss */
body a {
  text-decoration: none;
  color: #414042;
}
/* line 101, scss/theme.scss */
body a:hover {
  color: #be955b;
  text-decoration: underline;
}
/* line 107, scss/theme.scss */
body strong {
  font-family: "kepler-std", georgia, "Times New Roman", serif;
  font-weight: 800;
}
/* line 113, scss/theme.scss */
body p {
  font-family: "kepler-std", georgia, "Times New Roman", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}
/* line 120, scss/theme.scss */
body p a {
  color: #be955b;
  text-decoration: underline;
}
/* line 127, scss/theme.scss */
body ul {
  list-style: disc;
}
/* line 132, scss/theme.scss */
body .button {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #be955b;
  border-radius: 20px;
  line-height: 1;
  text-decoration: none;
}
/* line 150, scss/theme.scss */
body .button:hover {
  background-color: #414042;
  color: #be955b;
  text-decoration: none;
}
/* line 157, scss/theme.scss */
body .button.dark-brown {
  background-color: #414042;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  color: #ffffff;
}
/* line 165, scss/theme.scss */
body .button.dark-brown > span {
  font-weight: 700;
  color: #be955b;
}
/* line 172, scss/theme.scss */
body .button.dark-brown:hover {
  background-color: #be955b;
}
/* line 176, scss/theme.scss */
body .button.dark-brown:hover > span {
  color: #414042;
}
/* line 182, scss/theme.scss */
body .button.light-brown {
  background-color: #be955b;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  color: #ffffff;
}
/* line 190, scss/theme.scss */
body .button.light-brown > span {
  font-weight: 700;
  color: #be955b;
}
/* line 197, scss/theme.scss */
body .button.light-brown:hover {
  background-color: #414042;
}
/* line 201, scss/theme.scss */
body .button.light-brown:hover > span {
  color: #414042;
}
/* line 207, scss/theme.scss */
body .bar {
  display: block;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  background-color: #414042;
  color: #ffffff;
  padding-left: 40px;
  text-decoration: none;
}
/* line 219, scss/theme.scss */
body .bar > .fa {
  margin-left: 10px;
  line-height: inherit;
  color: #be955b;
}
/* line 229, scss/theme.scss */
body .bar-toggle > div:last-child {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px solid #414042;
}
/* line 239, scss/theme.scss */
body .bar:hover {
  text-decoration: none;
}
/* line 244, scss/theme.scss */
body .upper {
  text-transform: uppercase;
}
/* line 249, scss/theme.scss */
body > section {
  z-index: 1;
}
/* line 254, scss/theme.scss */
body > footer {
  z-index: 1;
}
/* line 259, scss/theme.scss */
body .row {
  max-width: 1100px;
}
/* line 264, scss/theme.scss */
body .fluidMedia {
  position: relative;
  padding-bottom: 54.25%;
  padding-top: 20px;
  height: 0;
  overflow: hidden;
}
/* line 272, scss/theme.scss */
body .fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 282, scss/theme.scss */
body .fa-news-and-stories {
  display: inline-block;
  height: 38px;
  width: 38px;
  background-image: url(../images/icons/icon-news-and-stories.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 293, scss/theme.scss */
body .fa-thin-chevron-right {
  display: inline-block;
  height: 30px;
  width: 22px;
  background-image: url(../images/icons/icon-thin-chevron-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 304, scss/theme.scss */
body span.stButton {
  box-sizing: content-box;
}
/* line 308, scss/theme.scss */
body span.stButton span {
  box-sizing: content-box;
}
/* line 314, scss/theme.scss */
body img.alignleft {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 322, scss/theme.scss */
body img.alignright {
  display: block;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
/* line 330, scss/theme.scss */
body .image-block-center {
  display: block;
  position: relative;
  height: 100%;
  left: 50%;
  overflow: visible;
  text-align: left;
}
/* line 339, scss/theme.scss */
body .image-block-center > img {
  position: relative;
  min-width: 100%;
  max-width: initial;
  height: 100%;
  margin-left: 0;
}

/**
 * 2.0 Header Styles
 * -----------------------------------------------------------------------------
 */
/* line 359, scss/theme.scss */
body > header {
  z-index: 1;
  /* Header - Top Row */
  /* Header - Navigation */
}
/* line 367, scss/theme.scss */
body > header > .row:first-child > .columns {
  height: 125px;
}
/* line 372, scss/theme.scss */
body > header > .row:first-child > .columns:first-child {
  text-align: center;
}
/* line 376, scss/theme.scss */
body > header > .row:first-child > .columns:first-child > a {
  display: inline-block;
  line-height: 100px;
}
/* line 382, scss/theme.scss */
body > header > .row:first-child > .columns:first-child img {
  vertical-align: middle;
}
/* line 388, scss/theme.scss */
body > header > .row:first-child > .columns:last-child {
  line-height: 125px;
  text-align: right;
}
/* line 394, scss/theme.scss */
body > header > .row:first-child ul.inline-list {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  vertical-align: middle;
  overflow: visible;
}
/* line 402, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li {
  position: relative;
  height: 25px;
  line-height: 25px;
  padding: 0px;
  margin: auto;
  margin-right: 50px;
  overflow: visible;
}
/* line 412, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa {
  line-height: inherit;
  display: inline-block;
  position: relative;
  top: -1px;
  color: #be955b;
}
/* line 421, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa.fa-search {
  display: block;
  position: absolute;
  top: 0px;
  left: 5px;
}
/* line 428, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li i.fa.fa-search + input {
  width: 160px;
  margin: auto;
  padding-left: 22px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: inherit;
  height: auto;
  border: 0px;
  background-color: #f1f2f2;
  box-shadow: none;
  -web-kit-box-shadow: none;
}
/* line 445, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li a {
  display: inline;
  color: inherit;
  padding-left: 5px;
  text-decoration: none;
}
/* line 453, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li a:hover {
  color: #be955b;
}
/* line 458, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul {
  display: none;
  position: absolute;
  top: 22px;
  left: 50%;
  width: 340px;
  margin-left: -170px;
  z-index: 9999;
}
/* line 468, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li {
  display: block;
  background-color: #414042;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}
/* line 478, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
  white-space: nowrap;
}
/* line 487, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a > span {
  font-weight: 700;
}
/* line 493, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li > a:hover {
  color: #be955b;
}
/* line 499, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li:first-child {
  margin-top: 10px;
  padding-top: 26px;
}
/* line 505, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li > ul > li:last-child {
  padding-bottom: 26px;
}
/* line 516, scss/theme.scss */
body > header > .row:first-child ul.inline-list > li:hover > ul {
  display: block;
}
/* line 526, scss/theme.scss */
body > header > section {
  background-image: url(../images/backgrounds/binding_dark.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  height: 50px;
}
/* line 533, scss/theme.scss */
body > header > section > .row {
  position: relative;
}
/* line 537, scss/theme.scss */
body > header > section > .row > .columns {
  position: static;
}
/* line 541, scss/theme.scss */
body > header > section > .row > .columns > a {
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 554, scss/theme.scss */
body > header > section > .row > .columns > nav {
  display: none;
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: auto;
  min-height: 100px;
  padding: 30px;
  padding-bottom: 10px;
  margin: auto;
  background-color: #ffffff;
}
/* line 568, scss/theme.scss */
body > header > section > .row > .columns > nav h5 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 2px solid #be955b;
}
/* line 578, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li {
  min-height: 200px;
}
/* line 582, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li > p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 250px;
}
/* line 591, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul {
  margin-top: 5px;
}
/* line 595, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: auto;
  padding-bottom: 10px;
  line-height: 16px;
}
/* line 604, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li > a {
  color: inherit;
  text-decoration: none;
}
/* line 610, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul > li > a:hover {
  color: #be955b;
  text-decoration: underline;
}
/* line 618, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul[class*="block-grid-"] {
  width: 300px;
}
/* line 622, scss/theme.scss */
body > header > section > .row > .columns > nav > ul.inline-list > li ul[class*="block-grid-"] > li {
  padding-left: 0px;
}
/* line 630, scss/theme.scss */
body > header > section > .row > .columns > nav > div:last-child {
  text-align: center;
}
/* line 634, scss/theme.scss */
body > header > section > .row > .columns > nav > div:last-child > .fa {
  color: #be955b;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
}
/* line 649, scss/theme.scss */
body > header > section > .row > .columns:hover > nav {
  display: block;
  z-index: 9999;
}
/* line 655, scss/theme.scss */
body > header > section > .row > .columns:hover > a {
  background-color: #be955b;
}

/**
 * 3.0 Footer Styles
 * -----------------------------------------------------------------------------
 */
/* line 675, scss/theme.scss */
body > footer {
  background-image: url(../images/backgrounds/dust.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  color: #ffffff;
}
/* line 682, scss/theme.scss */
body > footer > .row:first-child {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 3px solid #3b3b3c;
}
/* line 688, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) {
  text-align: center;
  line-height: 28px;
}
/* line 693, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) > div:first-child {
  padding-bottom: 6px;
}
/* line 698, scss/theme.scss */
body > footer > .row:first-child > .columns:nth-child(2) .button:hover {
  background-color: #ffffff;
}
/* line 704, scss/theme.scss */
body > footer > .row:first-child a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
}
/* line 712, scss/theme.scss */
body > footer > .row:first-child a > .fa {
  line-height: inherit;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 5px;
}
/* line 722, scss/theme.scss */
body > footer > .row:first-child a:hover {
  color: #be955b;
}
/* line 727, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child {
  text-align: right;
}
/* line 733, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child > div:last-child a {
  margin-left: 15px;
}
/* line 737, scss/theme.scss */
body > footer > .row:first-child > .columns:last-child > div:last-child a .fa {
  font-size: 24px;
}
/* line 746, scss/theme.scss */
body > footer > .row:nth-child(2) {
  padding-top: 30px;
}
/* line 750, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns {
  text-align: center;
}
/* line 754, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] {
  display: inline-block;
  text-align: left;
}
/* line 759, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li {
  width: 140px;
}
/* line 763, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid #6d6e71;
  padding-bottom: 4px;
}
/* line 771, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > h4 > a {
  color: #ffffff;
}
/* line 779, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li {
  line-height: 1.1;
  padding-bottom: 8px;
}
/* line 784, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6d6e71;
}
/* line 792, scss/theme.scss */
body > footer > .row:nth-child(2) > .columns ul[class*="block-grid-"] > li > ul > li > a:hover {
  color: #be955b;
}
/* line 803, scss/theme.scss */
body > footer > section {
  background-color: #414042;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #939598;
  line-height: 35px;
}
/* line 813, scss/theme.scss */
body > footer > section > span {
  padding-left: 4px;
  padding-right: 4px;
}
/* line 819, scss/theme.scss */
body > footer > section > span:first-child {
  border-right: 1px solid #939598;
}

/**
*
* 4.0 Component - Subscribe to News
* -----------------------------------------------------------------------------
*/
/* line 834, scss/theme.scss */
section.subscribe-to-news {
  background-color: #414042;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 840, scss/theme.scss */
section.subscribe-to-news > h1 {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-bottom: 20px;
}
/* line 847, scss/theme.scss */
section.subscribe-to-news > h1 > .fa {
  margin-right: 20px;
  color: #be955b;
}
/* line 853, scss/theme.scss */
section.subscribe-to-news > h1 > span {
  font-weight: 300;
}
/* line 861, scss/theme.scss */
section.subscribe-to-news > form input {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  color: #414042;
}
/* line 870, scss/theme.scss */
section.subscribe-to-news > form input.button {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* line 879, scss/theme.scss */
section.subscribe-to-news > form .button:hover {
  color: #be955b;
  background-color: #ffffff;
}

/**
*
* 5.0 Component - Image Slider
* -----------------------------------------------------------------------------
*/
/* line 894, scss/theme.scss */
section.image-slider {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
/* line 900, scss/theme.scss */
section.image-slider > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
/* line 906, scss/theme.scss */
section.image-slider > ul > li {
  display: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  height: 500px !important;
}
/* line 915, scss/theme.scss */
section.image-slider > ul > li > a {
  max-width: 1600px;
}
/* line 919, scss/theme.scss */
section.image-slider > ul > li > a > img {
  margin-left: -800px;
}
/* line 926, scss/theme.scss */
section.image-slider > ul > li:first-child {
  display: block;
}
/* line 932, scss/theme.scss */
section.image-slider > .controls-move {
  position: absolute;
  width: 18px;
  left: auto;
  right: 16%;
  top: 50%;
  bottom: auto;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  margin-top: -80px;
}
/* line 945, scss/theme.scss */
section.image-slider > .controls-move > .fa {
  font-size: 18px;
  line-height: 1;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0px 0px 0px #777777;
}
/* line 954, scss/theme.scss */
section.image-slider > .controls-move > .fa.active:before, section.image-slider > .controls-move > .fa:hover:before {
  content: "\f111";
}

/**
*
* 6.0 Component - Select Your Campus
* -----------------------------------------------------------------------------
*/
/* line 968, scss/theme.scss */
section.select-campus {
  background-image: url(../images/backgrounds/dark_wood.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  height: 120px;
  overflow: visible;
}
/* line 976, scss/theme.scss */
section.select-campus > .row {
  position: absolute;
  width: 100%;
  max-width: 100%;
  text-align: center;
  z-index: 2000;
}
/* line 984, scss/theme.scss */
section.select-campus > .row > ul {
  display: inline-block;
  margin-top: 42px;
}
/* line 989, scss/theme.scss */
section.select-campus > .row > ul > li:first-child {
  display: block;
  padding-bottom: 6px;
}
/* line 994, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 1004, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 > span {
  color: #be955b;
  font-weight: 700;
}
/* line 1010, scss/theme.scss */
section.select-campus > .row > ul > li:first-child > h3 > .fa {
  margin-left: 10px;
  font-size: 20px;
  height: 32px;
  line-height: 24px;
  vertical-align: middle;
}
/* line 1021, scss/theme.scss */
section.select-campus > .row > ul > li + li {
  background-color: #414042;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 80px;
  padding-left: 80px;
  display: none;
}
/* line 1030, scss/theme.scss */
section.select-campus > .row > ul > li + li > a {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}
/* line 1038, scss/theme.scss */
section.select-campus > .row > ul > li + li > a > span {
  font-weight: 700;
}
/* line 1044, scss/theme.scss */
section.select-campus > .row > ul > li + li > a:hover {
  color: #be955b;
}
/* line 1050, scss/theme.scss */
section.select-campus > .row > ul > li:nth-child(2) {
  padding-top: 26px;
}
/* line 1055, scss/theme.scss */
section.select-campus > .row > ul > li:last-child {
  padding-bottom: 26px;
}
/* line 1063, scss/theme.scss */
section.select-campus > .row > ul:hover > li + li {
  display: block;
}

/**
*
* 7.0 Component - News and Stories
* -----------------------------------------------------------------------------
*/
/* line 1077, scss/theme.scss */
section.news-and-stories {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 1082, scss/theme.scss */
section.news-and-stories > h1 {
  font-weight: 700;
  text-align: center;
}
/* line 1087, scss/theme.scss */
section.news-and-stories > h1 > .fa {
  margin-right: 20px;
}
/* line 1092, scss/theme.scss */
section.news-and-stories > h1 > span {
  font-weight: 300;
}
/* line 1102, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li {
  padding: 15px;
}
/* line 1106, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div {
  max-width: 340px;
  margin: auto;
}
/* line 1111, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:first-child {
  text-align: center;
  max-height: 230px;
  overflow: hidden;
}
/* line 1117, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:first-child img {
  width: 100%;
  min-width: 100%;
}
/* line 1124, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child {
  border-top: 5px solid #be955b;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1134, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > h3 > a {
  color: inherit;
  text-decoration: none;
}
/* line 1141, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > a {
  display: block;
  float: right;
  position: relative;
  top: -20px;
}
/* line 1148, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > a > .fa {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 300;
  color: #be955b;
}
/* line 1157, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > p {
  font-size: 13px;
  line-height: 1.3;
}
/* line 1163, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div > div:last-child > p:last-of-type {
  margin-bottom: 4px;
}
/* line 1170, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div:hover {
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}
/* line 1176, scss/theme.scss */
section.news-and-stories > .row:first-of-type > ul > li > div:hover > div:last-child > h3 {
  color: #414042;
}
/* line 1186, scss/theme.scss */
section.news-and-stories > .row:last-child {
  text-align: center;
  margin-top: 30px;
}
/* line 1191, scss/theme.scss */
section.news-and-stories > .row:last-child > .navigation {
  text-align: left;
}

/**
*
* 8.0 Component - Upcoming Events
* -----------------------------------------------------------------------------
*/
/* line 1205, scss/theme.scss */
section.upcoming-events {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1213, scss/theme.scss */
section.upcoming-events > h1 {
  text-align: center;
  font-weight: 700;
  margin: auto;
  padding: auto;
}
/* line 1220, scss/theme.scss */
section.upcoming-events > h1 > .fa {
  position: relative;
  top: -8px;
  margin-right: 18px;
  font-size: 38px;
  color: #be955b;
}
/* line 1229, scss/theme.scss */
section.upcoming-events > h1 > span {
  font-weight: 300;
}
/* line 1235, scss/theme.scss */
section.upcoming-events > .row:first-of-type {
  margin-top: 30px;
}
/* line 1241, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li {
  padding: 15px;
}
/* line 1245, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row {
  margin: 0px;
  padding: 10px;
  border-top: 3px solid #414042;
  background-color: #ffffff;
}
/* line 1252, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div {
  padding: 10px;
}
/* line 1257, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:first-child {
  text-align: center;
  overflow: hidden;
}
/* line 1262, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:first-child > a {
  height: 150px;
}
/* line 1268, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child {
  text-align: left;
}
/* line 1272, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h3 {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}
/* line 1278, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h3 > a {
  color: #be955b;
}
/* line 1284, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > h5 {
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}
/* line 1291, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div {
  font-family: "kepler-std", georgia, "Times New Roman", serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  padding-top: 10px;
}
/* line 1299, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
/* line 1306, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div p:last-of-type {
  margin-bottom: 4px;
}
/* line 1311, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div a {
  font-weight: 700;
  font-style: italic;
  color: #be955b;
  text-decoration: underline;
}
/* line 1319, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row > div:last-child > div a:hover {
  color: #414042;
}
/* line 1327, scss/theme.scss */
section.upcoming-events > .row:first-of-type > ul > li > .row:hover {
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.5);
}
/* line 1335, scss/theme.scss */
section.upcoming-events > .row:last-child {
  text-align: center;
  margin-top: 30px;
}

/**
*
* 9.0 Component - Last Weekend and Upcoming Message
* -----------------------------------------------------------------------------
*/
/* line 1349, scss/theme.scss */
section.last-and-upcoming-message {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1362, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div {
  display: inline-block;
  text-align: left;
}
/* line 1367, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) {
  border-top: 5px solid #be955b;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 25px;
}
/* line 1375, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 {
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 3px;
}
/* line 1382, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 > span {
  font-weight: 700;
}
/* line 1387, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h3 > .fa {
  position: absolute;
  left: -25px;
  top: 3px;
}
/* line 1395, scss/theme.scss */
section.last-and-upcoming-message > .row > div > div > div:nth-child(2) > h5 {
  font-size: 14px;
  font-weight: 300;
}
/* line 1404, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child {
  text-align: right;
}
/* line 1408, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div {
  max-width: 608px;
  padding: 0px;
  margin: 0px;
}
/* line 1414, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:first-child {
  text-align: center;
  max-height: 340px;
  overflow: hidden;
}
/* line 1420, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:first-child img {
  min-width: 100%;
}
/* line 1426, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child {
  background-color: #414042;
}
/* line 1430, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child > h3 {
  color: #ffffff;
}
/* line 1435, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child > h5 {
  color: #ffffff;
}
/* line 1440, scss/theme.scss */
section.last-and-upcoming-message > .row > div:first-child > div > div:last-child .fa {
  color: #be955b;
}
/* line 1448, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child {
  text-align: left;
}
/* line 1452, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div {
  background-color: #ffffff;
  max-width: 410px;
  padding: 0px;
  margin: 0px;
}
/* line 1459, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:first-child {
  text-align: center;
  max-height: 250px;
  overflow: hidden;
}
/* line 1465, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:first-child img {
  min-height: 250px;
  min-width: 100%;
}
/* line 1474, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:nth-child(2) > h3 {
  color: #414042;
}
/* line 1479, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:nth-child(2) > h5 {
  color: #414042;
}
/* line 1485, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child {
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1491, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child a {
  font-size: 30px;
  color: #be955b;
  padding-right: 30px;
}
/* line 1498, scss/theme.scss */
section.last-and-upcoming-message > .row > div:last-child > div > div:last-child a:hover {
  color: #414042;
}

/**
*
* 10.0 Component - Featured Images and Videos
* -----------------------------------------------------------------------------
*/
/* line 1516, scss/theme.scss */
section.featured-image {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1524, scss/theme.scss */
section.featured-image > .row > .columns {
  padding: 0px;
}
/* line 1528, scss/theme.scss */
section.featured-image > .row > .columns img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 1545, scss/theme.scss */
section.featured-video > .row > .columns iframe {
  width: 100%;
}

/**
*
* 10.0 Page Template
* -----------------------------------------------------------------------------
*/
/* line 1562, scss/theme.scss */
section.page-content > .row {
  border-top: 6px solid #be955b;
  padding-top: 40px;
  padding-bottom: 50px;
}
/* line 1568, scss/theme.scss */
section.page-content > .row > div.sidebar {
  padding-left: 40px;
  padding-right: 40px;
}
/* line 1573, scss/theme.scss */
section.page-content > .row > div.sidebar > h3 {
  margin: 15px 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: #414042;
  line-height: 1;
  border-bottom: 2px solid #be955b;
  text-transform: uppercase;
}
/* line 1584, scss/theme.scss */
section.page-content > .row > div.sidebar > ul {
  margin-bottom: 60px;
  padding: 0 0 20px 0;
}
/* line 1589, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  padding: 0px 0px 20px 0;
}
/* line 1596, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li a {
  text-decoration: none;
}
/* line 1601, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li ul {
  margin: 0 0 20px;
  padding: 0 0 0 8px;
}
/* line 1606, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li ul li {
  padding: 0px 0px 5px 0;
}
/* line 1611, scss/theme.scss */
section.page-content > .row > div.sidebar > ul > li ul ul {
  margin-bottom: 20px;
  border-left: dotted 1px #bf965c;
}
/* line 1626, scss/theme.scss */
section.page-content > .row > div > section.article h1, section.page-content > .row > div > section.article h2, section.page-content > .row > div > section.article h3 {
  font-family: inherit;
  font-size: initial;
  font-weight: bold;
  text-transform: initial;
  color: #414042;
}
/* line 1635, scss/theme.scss */
section.page-content > .row > div > section.article ul, section.page-content > .row > div > section.article li {
  font-family: inherit;
  font-size: initial;
  font-weight: initial;
}
/* line 1642, scss/theme.scss */
section.page-content > .row > div > section.article > h1 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
  border-bottom: 2px solid #be955b;
}
/* line 1653, scss/theme.scss */
section.page-content > .row > div > section.article a {
  color: #be955b;
  text-decoration: underline;
}
/* line 1659, scss/theme.scss */
section.page-content > .row > div > section.article a:hover {
  color: #414042;
}
/* line 1664, scss/theme.scss */
section.page-content > .row > div > section.article > div {
  font-family: "kepler-std", georgia, "Times New Roman", serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 1677, scss/theme.scss */
section.page-content > .row > div > section.article > div:first-of-type > ul > li > a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #414042;
  margin-right: 30px;
  line-height: 18px;
}
/* line 1686, scss/theme.scss */
section.page-content > .row > div > section.article > div:first-of-type > ul > li > a > .fa {
  font-size: 18px;
  color: #be955b;
  margin-right: 5px;
}
/* line 1699, scss/theme.scss */
section.page-content > .row > div.small-12 {
  padding-left: 10%;
  padding-right: 10%;
}

/**
*
* 11.0 - Component - Group Search Form
* -----------------------------------------------------------------------------
*/
/* line 1714, scss/theme.scss */
section.group-search-form {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  font-weight: 400;
}
/* line 1723, scss/theme.scss */
section.group-search-form > form > .row {
  padding-left: 40px;
}
/* line 1729, scss/theme.scss */
section.group-search-form > form > .row > div.columns > select {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  border: 2px solid #be955b;
}
/* line 1740, scss/theme.scss */
section.group-search-form > form > .row > div.columns > select > option {
  font-size: inherit;
  font-weight: inherit;
}
/* line 1747, scss/theme.scss */
section.group-search-form > form > .row > div.columns > div {
  line-height: 1;
  padding-bottom: 6px;
}
/* line 1752, scss/theme.scss */
section.group-search-form > form > .row > div.columns > div > .fa {
  color: #be955b;
  position: relative;
  top: -1px;
}
/* line 1761, scss/theme.scss */
section.group-search-form > form > .row > .columns:nth-child(5) {
  width: auto;
}
/* line 1766, scss/theme.scss */
section.group-search-form > form > .row > .columns:last-child {
  float: left;
}
/* line 1770, scss/theme.scss */
section.group-search-form > form > .row > .columns:last-child > .button {
  padding-left: 50px;
  padding-right: 50px;
}

/**
*
* 12.0 Component - Welcome to Campus
* -----------------------------------------------------------------------------
*/
/* line 1786, scss/theme.scss */
section.welcome-to-campus {
  background-image: url(../images/backgrounds/dark_wood.png);
  background-repeat: repeat;
  background-position: 0px 0px;
}
/* line 1794, scss/theme.scss */
section.welcome-to-campus > .row > .columns {
  text-align: center;
}
/* line 1798, scss/theme.scss */
section.welcome-to-campus > .row > .columns > div {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 20px;
}
/* line 1805, scss/theme.scss */
section.welcome-to-campus > .row > .columns > div > h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
  vertical-align: middle;
  padding: 10px;
}
/* line 1817, scss/theme.scss */
section.welcome-to-campus > .row > .columns > div > h2 > span {
  font-weight: 700;
  color: #be955b;
}
/* line 1824, scss/theme.scss */
section.welcome-to-campus > .row > .columns > div > p {
  margin: auto;
}

/**
*
* 12.0 Component - Not Found
* -----------------------------------------------------------------------------
*/
/* line 1839, scss/theme.scss */
section.not-found {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  padding: 100px;
}
/* line 1846, scss/theme.scss */
section.not-found > .row {
  background-color: #ffffff;
  padding: 40px;
}
/* line 1851, scss/theme.scss */
section.not-found > .row > h2 {
  border-bottom: 2px solid #bf965c;
}

/**
*
* 13.0 Section - Archive Posts
* -----------------------------------------------------------------------------
*/
/* line 1864, scss/theme.scss */
section.posts-archive {
  background-image: url(../images/backgrounds/grid.png);
  background-repeat: repeat;
  background-position: 0px 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 1874, scss/theme.scss */
section.posts-archive > .row {
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 1882, scss/theme.scss */
section.posts-archive > .row > h2 {
  border-bottom: 2px solid #be955b;
  margin-bottom: 4px;
}
/* line 1887, scss/theme.scss */
section.posts-archive > .row > h2 > a {
  color: #be955b;
}
/* line 1893, scss/theme.scss */
section.posts-archive > .row h3 {
  margin-bottom: 3px;
}
/* line 1898, scss/theme.scss */
section.posts-archive > .row .meta {
  font-family: "kepler-std", georgia, "Times New Roman", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

/**
*
* 14.0 Section - Archive Posts
* -----------------------------------------------------------------------------
*/
/* line 1921, scss/theme.scss */
section.search-results > .row > .columns > p.no-break {
  display: none;
  /* Hide Social Media Links */
}

/**
*
* 15.0 Page - Messages - Series Archives
* -----------------------------------------------------------------------------
*/
/* line 1938, scss/theme.scss */
section.page-content div#seriesengine {
  width: 100%;
}
/* line 1942, scss/theme.scss */
section.page-content div#seriesengine h3.enmse-archive-title {
  font-family: Oswald, Helvetica, Arial, sans-serif !important;
  font-weight: 500;
  color: #be955b !important;
}
/* line 1951, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr {
  background-color: transparent;
}
/* line 1955, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr td {
  font-family: Oswald, Helvetica, Arial, sans-serif !important;
  color: #000000;
  line-height: 1.2;
}
/* line 1961, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr td > a {
  font-family: inherit !important;
  color: inherit;
}
/* line 1967, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr td > a:hover {
  color: #be955b;
}
/* line 1973, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr td.enmse-archive-title-cell {
  font-weight: 700;
  padding-left: 0px;
}
/* line 1979, scss/theme.scss */
section.page-content div#seriesengine table.enmse-archive-table tr td.enmse-archive-explore-cell {
  text-align: right;
  padding-right: 0px;
}

/**
*
* 16.0 Events - Details Page
* -----------------------------------------------------------------------------
*/
/* line 1999, scss/theme.scss */
body.single-event section.article > div {
  max-width: 100%;
}
/* line 2003, scss/theme.scss */
body.single-event section.article > div > div[style^='float:right'] {
  max-width: 100%;
}
/* line 2007, scss/theme.scss */
body.single-event section.article > div > div[style^='float:right'] > div {
  max-width: 100%;
}
