#header {
min-width: 990px;
height: 146px;
background: #ffffff url(images/new_header/top_header_bg_sbc.jpg) no-repeat scroll center;
}
.top_links ul {
background: url(images/new_header/blue_top.png) repeat-x scroll center;
height: 53px;
width: 450px;
margin-right: -100px;
padding-left: 20px;
margin-top: -20px;
}
.top_links li {
padding-top: 13px;
}
.fb_edge_widget_with_comment {
position: relative;
top: 76px;
padding-left: 410px;
}
#nav {
  font-family: "ronnia-condensed";
}


#sub_links {
min-width: 990px;
height: 74px;
text-align: right;
overflow: hidden;
background: none;
}
#navigation{
padding:0px;
}

#nav .page_item a.first_nav
{
color: white;
background: rgb(0,62,121); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2U3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDI1NDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,62,121,1) 0%, rgba(0,37,72,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,62,121,1)), color-stop(100%,rgba(0,37,72,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,62,121,1) 0%,rgba(0,37,72,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,62,121,1) 0%,rgba(0,37,72,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,62,121,1) 0%,rgba(0,37,72,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,62,121,1) 0%,rgba(0,37,72,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e79', endColorstr='#002548',GradientType=0 ); /* IE6-8 */
}

#nav .page_item a{
height:60px;
line-height:60px;
display: inline-block;
color: #174478;
font-size:18px;
background: rgb(243,243,243); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NCUiIHN0b3AtY29sb3I9IiNjYmNiY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(243,243,243,1) 12%, rgba(203,203,203,1) 84%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(243,243,243,1)), color-stop(84%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(243,243,243,1) 12%,rgba(203,203,203,1) 84%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(243,243,243,1) 12%,rgba(203,203,203,1) 84%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(243,243,243,1) 12%,rgba(203,203,203,1) 84%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(243,243,243,1) 12%,rgba(203,203,203,1) 84%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-8 */

}