/**
*
* Callout 2
* -----------------------------------------------------------------------------
*/

section.callout2 {
  div.row {
    padding: 30px 0px;
  }

  img {
    width: 100%;
  }

  hr {
    border: 1px solid #55606b;
  }
}
