/**
*
* 10.0 Component - Featured Images and Videos
* -----------------------------------------------------------------------------
*/

section.featured-image
{
  background-size: cover !important;
  background-position: center;
  height: 30vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

    > .row
    {
        > .columns
        {
            padding: 0px;

            img
            {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}

section.featured-video
{
    > .row
    {
        > .columns
        {
            padding: 0px;

            iframe
            {
                width: 100%;
            }
        }
    }
}
