/**
*
* 10.0 Component - Featured Images and Videos
* -----------------------------------------------------------------------------
*/

.post-type-archive-event,
.page-template-events {
  section.featured-image {
    padding: 140px 0 35px;
    height: auto;
  }
}

section.featured-image
{
  background-size: cover !important;
  background-position: center;
  height: 35vw;
  max-height: 470px;
  text-align: center;
  display: flex;

    > .row
    {
        > .columns
        {
            padding: 0px;

            img
            {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .row {
          margin: 0px;
        }
    }

    .feature-text {
      padding-top: 4rem;

      h1 {
        font-size: 4em;
      }
    }
}

section.featured-video
{
    > .row
    {
        > .columns
        {
            padding: 0px;

            iframe
            {
                width: 100%;
            }
        }
    }
    video {
      position:relative;
      z-index:0;
    }

    h1 {
      margin: 10px 0;
      font-size: 1.8em;
      line-height: 34px;
      color: #fff;
      text-shadow: 0 0 0.5px #000;
    }
    .button {
      margin: 10px 10px 20px;
    }

    &--home {
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($primary, 0.6);
        z-index: 1;
      }

      video {
        position: absolute;
        top: -30%;
        left: 0;
      }

      .hero-text-box {
        position: relative;
        top: 0;
        margin: 150px auto;
        background-color: transparent;
      }

      h1 span {
        font-family: $Montserrat;
        font-weight: 700;
      }
    }
}
