/**
*
* 10.0 Component - Featured Images and Videos
* -----------------------------------------------------------------------------
*/

section.featured-image
{
  background-size: cover !important;
  background-position: center;
  height: 35vw;
  max-height: 470px;
  text-align: center;
  display: flex;

    > .row
    {
        > .columns
        {
            padding: 0px;

            img
            {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
                height: auto;
            }
        }

        .row {
          margin: 0px;
        }
    }

    .feature-text {
      padding-top: 4rem;

      h1 {
        font-size: 4em;
      }
    }
}

section.featured-video
{
    > .row
    {
        > .columns
        {
            padding: 0px;

            iframe
            {
                width: 100%;
            }
        }
    }
    video {
      position:relative;
      z-index:0;
    }

    .text-center {
      position:absolute;
      top:15vw;
      left:0;
      right: 0;
      margin: 0px auto;
      z-index:1;
    }
    h1 {
      font-size: 4.5em;
    }
    .button {
      margin: 10px 10px;
    }
}
