/**
*
*  Home-Hero
* -----------------------------------------------------------------------------
*/

.home-hero {
  background-size: cover !important;
  background-position: center;
  height: 50vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
  a {
    margin: 20px;
  }
}

.hero-text-box {
  position:absolute;
  top:20vw;
  left:0;
  right: 0;
  margin: 0px auto;
  z-index:1;
  background-color: rgba(0,0,0,0.6);
}
