.landing--event_img {
  width: 100%;
  height: 545px;
  margin-bottom: 50px;
}

.landing--event_header {
  padding: 75px 0 25px 0;
  color: #fff;
}

.event-container {
  padding: 25px 0;
}

.event__block {
  font-family: 'Proxima Nova';
  font-size: 20px;
  line-height: 15px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
