/**
*
* Map Locations
* -----------------------------------------------------------------------------
*/

section.location-map
{
    height: 720px;
    padding: 0px;
    margin: 0px;
    text-align: center;

    div.map-location
    {
        display: none;
    }

    div.map-container
    {
        margin-top: 60px;

        div.map-location
        {
            display: block;
        }
    }
}
