/**
*
* 6.0 Component - Select Your Campus
* -----------------------------------------------------------------------------
*/

section.select-campus
{
    background-image: url(../images/backgrounds/dark_wood.png);
    background-repeat: repeat;
    background-position: 0px 0px;
    height: 120px;
    overflow: visible;

    > .row
    {
        position: absolute;
        width: 100%;
        max-width: 100%;
        text-align: center;
        z-index: 2000;

        > ul
        {
            display: inline-block;
            margin-top: 42px;

            > li:first-child
            {
                display: block;
                padding-bottom: 6px;

                > h3
                {
                    margin: 0px;
                    padding: 0px;
                    text-transform: uppercase;
                    cursor: pointer;

                    > span
                    {
                        font-weight: 700;
                    }

                    > .fa
                    {
                        margin-left: 10px;
                        font-size: 20px;
                        height: 32px;
                        line-height: 24px;
                        vertical-align: middle;
                    }
                }
            }

            > li + li
            {
                background-color: $primary;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-right: 80px;
                padding-left: 80px;
                display: none;

                > a
                {
                    font-size: 24px;
                    font-weight: 300;
                    color: #ffffff;
                    text-decoration: underline;
                    text-transform: uppercase;

                    > span
                    {
                        font-weight: 700;
                    }
                }

                > a:hover
                {
                    color: $tertiary;
                }
            }

            > li:nth-child(2)
            {
                padding-top: 26px;
            }

            > li:last-child
            {
                padding-bottom: 26px;
            }
        }

        > ul:hover
        {
            > li + li
            {
                display: block;
            }
        }
    }
}
