/**
*
* Component - Subscribe to News
* -----------------------------------------------------------------------------
*/

section.subscribe-to-news
{
    padding-bottom: 70px;

    > h1
    {
        text-align: center;
        padding-bottom: 20px;
    }

    .button {
      border-radius: 20px;
    }

    input[type=text] {
      background-color: $off-white;
    }

}
