/**
*
*  Upcoming-story
* -----------------------------------------------------------------------------
*/

section.upcoming-message
{
  height: 600px;
  background-image: url(../images/holders/PhoenixB&W.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  .columns {

    div {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      top: 90px;
      width: 100%;

      img {
        max-height: 300px;
      }
      a {
        margin-top: 10px;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}
