/**
*
* Welcome (possibly combine with 'Welcome to Campus' Section)
* -----------------------------------------------------------------------------
*/

section.welcome {
  div.row {
    padding: 30px 0px;
  }

  img {
    width: 100%;
  }

  hr {
    border: 1px solid #55606b;
  }
}
