/**
 * 3.0 Footer Styles
 * -----------------------------------------------------------------------------
 */

body
{
    > footer
    {
        background-image: url(../images/backgrounds/Pattern.png);
        background-repeat: repeat;
        background-position: 0px 0px;
        color: #ffffff;

        > .row:first-child
        {
            padding-top: 30px;
            padding-bottom: 20px;

            > .columns:nth-child(2)
            {
                text-align: center;
                line-height: 28px;

                > div:first-child
                {
                    padding-bottom: 6px;
                }

                .button:hover
                {
                    background-color: #ffffff;
                }
            }

            a
            {
                font-family: "Open Sans", Helvetica, Arial, sans-serif;
                font-size: 15px;
                font-weight: 800;
                color: #ffffff;


                > .fa
                {
                    line-height: inherit;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                    margin-right: 5px;
                }
            }

            a:hover
            {
                color: $tertiary;
            }

            > .columns:last-child
            {
                text-align: right;

                > div:last-child
                {
                    a
                    {
                        margin-left: 15px;

                        .fa
                        {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        > .row:nth-child(3)
        {
            padding-top: 30px;

            > .columns
            {
                text-align: center;

                ul[class*="block-grid-"]
                {
                    display: inline-block;
                    text-align: left;

                    > li
                    {
                        width: 140px;

                        > h4
                        {
                            font-size: 18px;
                            border-bottom: 1px solid $p-light;
                            padding-bottom: 4px;

                            > a
                            {
                                color: #ffffff;
                            }
                        }

                        > ul
                        {
                            > li
                            {
                                line-height: 1.1;
                                padding-bottom: 8px;

                                > a
                                {
                                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $p-light;
                                }

                                > a:hover
                                {
                                    color: $tertiary;
                                }
                            }
                        }
                    }
                }
            }
        }

        > section
        {
            background-color: $primary;
            text-align: center;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-size: 10px;
            font-weight: 400;
            color: #939598;
            line-height: 35px;

            > span
            {
                padding-left: 4px;
                padding-right: 4px;
            }

            > span:first-child
            {
                border-right: 1px solid #939598;
            }
        }

    }
}
