/**
*
* 11.0 - Component - Group Search Form
* -----------------------------------------------------------------------------
*/

section.group-search-form
{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: 400;

    > form
    {
        > .row
        {
            padding-left: 40px;

            > div.columns
            {
                > select
                {
                    font-family: $Oswald;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 19px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    text-transform: uppercase;
                    border: 2px solid $lightbrown;

                    > option
                    {
                        font-size: inherit;
                        font-weight: inherit;
                    }
                }

                > div
                {
                    line-height: 1;
                    padding-bottom: 6px;

                    > .fa
                    {
                        color: $lightbrown;
                        position: relative;
                        top: -1px;
                    }
                }
            }

            > .columns:nth-child(5)
            {
                width: auto;
            }

            > .columns:last-child
            {
                float: left;

                > .button
                {
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
        }
    }
}
