/**
 * 2.0 Header Styles
 * -----------------------------------------------------------------------------
 */

body
{
    > header
    {
        z-index: 9999;
        position: relative;
        background: $white;

        .fa-bars
        {
            vertical-align: -5%;
        }

        /* Header - Top Row */
        > .row:first-child
        {

            > .columns
            {
                height: 56px;
            }

            > .columns:first-child
            {
                text-align: center;

                > a
                {
                    display: block;
                    line-height: 100px;
                }

                img
                {
                    vertical-align: middle;
                    max-height: 109px;
                }
            }

            > .columns:last-child
            {
                line-height: 125px;
                text-align: right;
            }

            ul.inline-list
            {
                display: inline-block;
                margin-top: -50px;
                font-size: 14px;
                font-weight: 300;
                vertical-align: middle;
                overflow: visible;

                > li
                {
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    padding: 0px;
                    margin: auto;
                    margin-right: 30px;
                    overflow: visible;

                    i.fa
                    {
                        line-height: inherit;
                        display: inline-block;
                        position: relative;
                        top: -1px;
                        color: $primary;
                    }

                    i.fa.fa-search
                    {
                        display: block;
                        position: absolute;
                        left: 25px;

                        + input
                        {
                            width: 175px;
                            margin: auto;
                            padding-left: 42px;
                            padding-right: 4px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            font-size: inherit;
                            height: 30px;
                            border: 0px;
                            background-color: #f1f2f2;
                            box-shadow: none;
                            -web-kit-box-shadow: none;
                            border-radius: 15px;
                        }
                    }

                    a
                    {
                        display: inline;
                        font-family: $Proxima;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        color: #fff;
                        padding-left: 5px;
                        text-decoration: none;
                    }

                    a:hover
                    {
                        color: $tertiary;
                    }

                    > ul
                    {
                        display: none;
                        position: absolute;
                        top: 29px;
                        left: 50%;
                        width: 340px;
                        margin-left: -170px;
                        z-index: 9999;

                        > li
                        {
                            display: block;
                            background-color: $p-medium;
                            padding-top: 6px;
                            padding-bottom: 6px;
                            padding-right: 0px;
                            padding-left: 0px;
                            text-align: center;

                            > a
                            {
                                font-size: 24px;
                                font-weight: 300;
                                color: #ffffff;
                                text-decoration: none;
                                text-transform: uppercase;
                                white-space: nowrap;

                                > span
                                {
                                    font-weight: 700;
                                }
                            }

                            > a:hover
                            {
                                color: $tertiary;
                            }
                        }

                        > li:first-child
                        {
                            margin-top: 12px;
                            padding-top: 20px;
                        }

                        > li:last-child
                        {
                            padding-bottom: 18px;
                        }

                    }

                }

                > li:hover
                {
                    > ul
                    {
                        display: block;
                    }
                }

                > li:last-child {
                  margin-right: 0px;
                }
            }
        }

        /* Header - Navigation */

        > section
        {
            background: $white;
            height: 100px;

            > .row
            {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                > .columns
                {
                    position: static;
                    // line-height: 100px;
                    height: 100%;

                    &:first-child {
                      padding-left: 0px;
                    }

                    &:last-child {
                      margin-right: 0px;
                      float: left;
                    }

                    > a
                    {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;
                        font-family: $Montserrat;
                        color: $primary;
                        text-decoration: none;
                        vertical-align: bottom;
                        text-transform: uppercase;
                        line-height: 1;
                        vertical-align: middle;

                        > img {
                          float: left;
                          max-height: 100px;
                          margin-left: 10px;
                        }
                    }

                    > nav
                    {
                        display: none;
                        position: absolute;
                        left: calc(-50vw + 50%);
                        top: 100px;
                        width: 100vw;
                        height: auto;
                        min-height: 100px;
                        margin: auto;
                        background-color: #fff;

                        .box {
                          background-color: #fff;

                          > div > div {
                            background-size: cover;
                            background-position: 50%;
                            min-height: 250px;
                          }

                          > div > .large-3 {
                            display: none !important;
                          }
/*
                          > div > div > ul > li{
                            display: block;

                            > h5 {
                              border: none;
                              padding-top: 40px;
                            }
                          }
                          > div > div > ul > li {
                            display: none;
                          }
*/
                        }

                        .row {
                          max-width: 1200px;
                          margin-left: auto;
                          margin-right: auto;
                          margin-top: 0;
                          margin-bottom: 0;
                        }

                        h3 {
                          padding-top: 40px;
                        }

                        h5
                        {
                            padding-bottom: 5px;
                            font-size: 20px;
                            font-family: $Montserrat;
                            line-height: 28px;
                            border-bottom: 2px solid $tertiary;
                            color: $tertiary;
                            text-transform: uppercase;
                            a:hover{
                              text-decoration: none;
                              color: $secondary;
                            }
                        }

                        ul.inline-list
                        {
                          display: flex;
                          justify-content: space-between;
                          max-width: 1200px;
                          margin-left: auto;
                          margin-right: auto;
                          margin-top: 0;
                          margin-bottom: 0;

                            > li:last-of-type {
                              margin-right: 20px;
                            }

                            > li
                            {
                                min-height: 200px;

                                > p
                                {
                                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 18px;
                                    max-width: 250px;
                                }

                                ul
                                {
                                    margin-top: 5px;

                                    > li
                                    {
                                        font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        padding: auto;
                                        padding-bottom: 10px;
                                        line-height: 16px;

                                        > a
                                        {
                                            color: inherit;
                                            text-decoration: none;
                                            font-family: $Montserrat;
                                            font-weight: 500;
                                        }

                                        > a:hover
                                        {
                                            color: $tertiary;
                                            text-decoration: underline;
                                        }
                                    }
                                }

                                ul[class*="block-grid-"]
                                {
                                    width: 300px;

                                    > li
                                    {
                                        padding-left: 0px;
                                    }
                                }
                            }
                        }

                        > div:last-child
                        {

                            > .fa
                            {
                                color: $gray1;
                                font-size: 32px;
                                font-weight: 400;
                                cursor: pointer;
                            }
                        }

                    }

                }

                // Campus select
                #campus {
                  position: relative;

                  .hover-feature {
                    position: relative;

                    &:before {
                      display: none;
                    }

                    &:after {
                      content: '';
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      left: -11px;
                      width: 3px;
                      height: 90%;
                      margin: auto;
                      @include linear-gradient(0deg, $secondary, $tertiary);
                    }
                  }

                  nav {
                    width: calc(100% + 13px);
                    left: 0;
                    min-height: auto;
                    padding: 0 5px;

                    ul {
                      margin: 0;
                    }

                    li + li {
                      border-top: 1px solid $footer;
                    }

                    a {
                      display: block;
                      padding: 5px;
                      font-weight: 600;
                      font-size: 14px;
                      color: $footer;
                      text-align: center;
                      text-transform: uppercase;

                      &:hover {
                        color: $secondary;
                      }
                    }
                  }

                  &:hover {
                    background-color: rgba($footer, 0.7);
                    > a {
                      color: $white;
                    }
                    a {
                      text-decoration: none;
                    }
                  }
                }

                // Give
                #give {
                  @include linear-gradient(0deg, $secondary, $tertiary);

                  > a {
                    color: $white;
                  }

                  .hover-feature:before {
                    display: none;
                  }
                }

                // Search
                #search {
                  > a {
                    color: rgba($footer, 0.7);
                  }

                  i {
                    font-size: 24px;
                  }

                  > nav {
                    position: absolute;
                    top: 100px;
                    right: -12px;
                    left: unset;
                    width: calc(29% + 3px);
                    min-height: unset;
                  }

                  form {
                    input[type="text"] {
                      margin-bottom: 0;
                      color: rgba($footer, 0.7);
                    }
                  }

                  &:hover > div {
                    display: block;
                    z-index: 9999;
                  }
                }

                > .columns:hover
                {
                    > nav
                    {
                        display: block;
                        z-index: 9999;
                    }
                }
                > .columns:hover .hover-feature {
                  // @include linear-gradient(90deg, $secondary, $tertiary);
                  // border-radius: 25px;
                  // padding: 7px 15px;

                  &:before {
                    opacity: 1;
                  }
                }

            }
        }


    }
}

.hover-feature {
  position: relative;
  padding: 7px 15px !important;

  &:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(100% - 30px);
    height: 3px;
    @include linear-gradient(90deg, $secondary, $tertiary);
    opacity: 0;
  }
}

.col-shrink {
  width: 44% !important;
}

.col-grow {
  width: 9.3333% !important;
}

.mobile {
  display: none !important;
}

// Winter Wonder pages color inversions
.page-id-13803, // /winterwonder
.page-id-44066, // /winterwonder/volunteer
.page-id-39061, // /winterwonder/wwprogram
.page-id-44441, // /winterwonder/production-team
.postid-31231, // /events/winter-wonder/
.page-id-44055 // /winterwonder/childcare
{
  background-color: #000;

  > header > section > .row > .columns > nav ul.inline-list > li ul > li > a {
    color: #182a3c;
  }

  > header > section > .row > .columns > nav ul.inline-list > li > p {
    color: #182a3c !important;
  }

  h1, h2, h3, h4, h5, h6, p, li, strong {
    color: #fff !important;
  }

  .remodal p,
  .remodal strong {
    color: #182a3c !important;
  }
}
